name: AWS Serverless SecOps CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          cd cdk
          pip install -r requirements.txt

      - name: Security Scan (Bandit)
        run: bandit -r cdk/

      - name: Synthesize CDK Stack
        run: |
          cd cdk
          cdk synth

     # - name: Run Bandit Security Scan
      #  run: bandit -r cdk/ || true
      # "|| true" means even if Bandit finds issues, pipeline continues

      - name: Deploy CDK Stack to AWS
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: |
          cd cdk
          cdk deploy --require-approval never
